* {
  font-family: "Open Sans", sans-serif;
  font-size: 24px;
}
html,
body {
  margin: 30px 0 0 0;
  padding: 20;
  background-color: #f2f2f2;
}

html,
ol {
  padding-left: 0;
}

#welcome {
  color: green;
  text-align: center;
}

.text {
  color: green;
}

.grades {
  color: red;
}

.center {
  margin: auto;
  width: 50%;
  padding: 10px;
  text-align: center;
}

.border {
  border: 3px solid green;
}

.name {
  color: red;
}

ol li.name {
  color: blue;
}

li:first-of-type + li {
  color: blue;
}

ol li:first-child {
  margin-top: 20px;
  color: darkred;
}

section {
  padding-top: 50px;
  padding-right: 0px;
  padding-bottom: 50px;
  padding-left: 00px;
}

img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 20vmin;
  padding: 30px;
}

#lectures {
  width: 100%;
}

#lectures tr:nth-child(even) {
  background-color: #e0e0e0;
}

#lectures tr:nth-child(odd) {
  background-color: #ffffff;
}

#lectures th {
  padding: 6px;
  text-align: left;
  background-color: #3414eb;
  color: white;
}

footer {
  width: 100%;
  height: 120px;
  text-align: center;
  background-color: #ffff00;
  padding-top: 10px;
  margin-top: 50px;
}
